/**
 * GrooaWidgets Module
 * Defines a module with the option of different styles
 */
.gw-module {
  box-sizing: border-box;

  padding: 1em;
  position: relative;
}

.gw-module > h2 {
  font-size: 2em;

  padding: 0.5em;

  text-align: center;
}

.gw-module-compact {
  padding: 0;
}

.gw-module-light {
  background-color: #ffffff;
  border-bottom: #eeeeee solid 1px;
  border-top: #eeeeee solid 1px;
}

.gw-module-centered {
  align-items: center;

  display: flex;

  flex-direction: column;

  justify-content: flex-start;
}

.gw-image-container {
  height: 100%;

  overflow: hidden;

  position: absolute;

  width: 100%;
}

.gw-image-container > img {
  position: absolute;

  width: 100%;
}

.gw-module-cover-image {
  background: #bbbbbb no-repeat center;
  background-size: cover;

  height: 100%;

  position: relative;

  width: 100%;
}

.gw-title-frame {
  height: 100%;

  margin: auto;
  max-width: 50em;

  position: relative;

  width: 100%;
}

.gw-title-container {
  bottom: 0;

  color: #ffffff;

  margin: 0;

  padding: 1em;
  position: absolute;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);

  width: 100%;
}

.gw-title-container > h2,
.gw-title-container > em {
  padding: 0;

  text-align: left;
}

.gw-title-container > h2 {
  color: #ffffff;
  font-size: 2em;
}

.gw-sub-title {
  display: block;

  text-align: center;
}

.gw-page-module-main {
  white-space: pre-line;
}

.gw-module-header,
.gw-module-footer {
  box-sizing: border-box;

  margin: auto;
  max-width: 35em;

  padding: 0;
}

/* Reset the blockquote styling */
.gw-module-footer blockquote,
.gw-module-header blockquote {
  color: #68530F;

  font-style: italic;
  font-family: "Times New Roman", serif;
  font-size: 1.3em;

  margin: 0;
}

/**
 * GrooaWidgets Module Item
 * Used in ThreeItemSection, represents each item in a horizontal list
 */

.gw-module-item {
  box-sizing: border-box;

  display: block;

  min-height: 10em;
  max-width: 20em;

  padding: 0.5em;
  position: relative;

  text-decoration: none;

  width: 100%;
}

.gw-module-item:hover {
  text-decoration: none;
}

.gw-module-item-image {
  display: block;

  margin: auto;
  max-width: 15em;

  width: 100%;
}

/* Give a linked item, some interactivity (Don Norman: Feedback) */
a.gw-module-item .gw-module-item-title:hover {
  color: #333333;
  text-decoration: underline;
}

/**
 * Grooa Widgets TopThreeSection
 */
.gw-module-list {
  list-style: none;

  margin: auto;
  max-width: 50em;

  padding: 0;

  width: 100%;
}

.gw-module-list-thumbnail {
  box-sizing: border-box;

  max-width: 10em;

  padding: 1em 2em;
  position: relative;

  width: 5em;
}

.columns > .gw-module-list-thumbnail {
  flex-basis: 10em;
}

@media screen and (max-width: 40em) {
  .gw-module-list-thumbnail {
    width: 5em;
  }

  .columns > .gw-module-list-thumbnail {
    flex-basis: 5em;
  }
}

.gw-module-list-thumbnail > img {
  display: block;

  height: auto;

  margin: auto;

  width: 100%;
}

.gw-module-list-body {
  text-align: left;
}

.columns > .gw-module-list-body {
  flex: 7;
}

.gw-module-list-body > h3 {
  padding: 0;

  text-align: left;
}

/**
 * GrooaWidgets ThumbnailCard
 */
.gw-module-thumbnailcard {
  height: 15em;

  margin: auto;

  position: relative;

  width: 10em;
}

.gw-module-thumbnailcard-image {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .05) 2px 2px 3px;
  box-sizing: border-box;

  overflow: hidden;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);;
}

.gw-module-thumbnailcard-image:hover {
  box-shadow: rgba(0, 0, 0, .05) 3px 2px 5px;

  transform: scale(1.03);
}

.gw-module-thumbnailcard-image > img {
  display: block;

  width: 100%;
}

/**
 * GrooaWidgets Slider
 */
.gw-slider {
  position: relative;

  width: 100%;

  height: 30em;
}

.gw-slider-slide-image-container {
  height: 30em;

  overflow: hidden;

  position: relative;

  width: 100%;
}

.gw-slider-slide-image {
  background: #bbbbbb no-repeat center;
  background-size: cover;

  height: 100%;

  width: 100%;
}

.gw-slider-slide-content {
  box-sizing: border-box;

  color: #ffffff;

  height: 100%;

  padding: 1em;
  position: absolute;

  top: 0;

  width: 100%;

  z-index: 10;
}

.gw-slider-slide-title,
.gw-slider-slide-body {
  color: #ffffff;

  padding: 0;
  position: relative;

  text-align: left;
  text-shadow: rgba(0, 0, 0, .4) 1px 1px 5px;
}

.gw-slider-slide-title {
  font-size: 2.3em;
}

.gw-slider-slide-button {
  position: absolute;

  bottom: 4rem;
}

/**
 * Slick Slider
 *
 * Extended styling for the slick slider
 */
.slick-slider {
  min-height: 30em;
}

.slick-arrow {
  height: 40px;

  text-shadow: rgba(0, 0, 0, .4) 1px 1px 3px;
  top: 50%;

  width: 40px;

  z-index: 1000;
}

.slick-arrow:hover {
  box-shadow: none;
}

.slick-arrow::before {
  font-size: 40px;
}

.slick-prev {
  left: 1rem;
}

.slick-next {
  right: 1rem;
}

.slick-dots {
  bottom: 1.2rem;

  position: absolute;
}

.slick-dots > li button {
  border: #ffffff solid 1px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, .3) 1px 1px 5px;

  transition: all .2s ease;
}

.slick-dots > li:hover button {
  background-color: #eeeeee;
}

.slick-dots > li.slick-active button {
  background-color: #ffffff;
}

.slick-dots > li button::before {
  content: "";

  display: none;

  height: 0;

  opacity: 0;

  width: 0;
}

.slick-slide > div > div {
  position: relative;
}

/**
 * Buttons
 */
.gw-btn {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, .4) 1px 1px 4px;
  box-sizing: border-box;

  color: #3F51B5;

  padding: 0.5em 2em;

  text-decoration: none;
}

.gw-btn:hover {
  text-decoration: none;
}

.gw-btn:visited {
  color: #3F51B5;
}

.gw-btn-pill {
  border-radius: 5em;
}
